<div class="landing_page">
    <h1>Content Management System</h1>
    <%= link_to "Categories", categories_path, class:"welcome_button" %>
    <%= link_to "Posts", posts_path, class:"welcome_button" %>
    <% if user_signed_in? %>
        <%= link_to "My Posts", "/users/#{current_user.id}/my_posts", class:"welcome_button" %>
    <% end %>
</div>