<h1 class="category_title">Categories</h1>

<div class="categories">
    <% @categories.each do |category| %>
        <%= link_to category.title, category_path(category), class: "links" %>
    <% end %>
</div>

<br>

<%= link_to 'Add Category', new_category_path %>
